# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

### Objectives
1. Jupyter Notebooks are used in Data Science for recording experiments and projects
2. The Data Science Ecosystem consists of many open source and commercial options, and include both traditional desktop applications and server-based tools, as well as cloud-based services that can be accessed using web-browsers and mobile interfaces
3. You should select a language to learn depending on your needs, the problems you are trying to solbe, and whom you are solving them for

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. Numpy

Data Science Tools
1. Apache Spark
2. TensorFlow
3. Tableau

### Below are a few examples of evaluating arithmetic expressions in Python
1,2,3,4,5

In [ ]:
# This is a simple arithmetic expression to multiply then add integers

In [ ]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [ ]:
200/60

3.3333333333333335

Author's name: Meity Kumalasari